body {
    background-color: #000;
    margin: 0;
}

#glitch_canvas {
    position: absolute;
    margin: auto;
    width: auto;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}