* {
    margin: 0;
    padding: 0;
    border: 0;
}

body { 
    background-color: #585858;
    overflow: hidden;
    color: #eeeeee;
    font-family: monospace;
    font-size: 12px;
}

input{ 
    margin:0; 
    padding:4px;
}

#interface{ 
    position: absolute; 
    left:10px; 
    top:10px; 
    width:456px; 
    height:20px;
}

#info{
    pointer-events:none;
    position: absolute;
    left:10px;
    top:50px;
    width: 400px;
    height: 400px;
}
