body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #eee;
}

canvas {
    padding: 0;
    margin: 0;
}

button {
    /* iPhone でボタン色が背景色と同じになってしまう問題の対策 */
    background: #ddd;
    color: #000;
}

#interface{
    position: absolute;
    left:10px;
    top:10px;
}
