body { 
    font: 13px/140% Arial, sans-serif; 
    background: black;
    color: white;
    overflow: hidden;
}

a {
    color: inherit;
    cursor: pointer;
}

img { 
    display: none;
}

ul {
     padding: 0 0 0 20px;
}
h1 {
    font: bold italic 30px/30px Georgia;
    text-align: center;
}
h2 {
    font: bold italic 17px/17px Georgia;
    padding-top: 10px;
}
small {
    display: block;
    font-size: 11px;
    line-height: 15px;
}
canvas {
    position: absolute;
    top: 0;
    left:
        0;
}
#help {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    padding-right: 20px;
    overflow: auto;
}
#loading {
    position: absolute;
    left: 0;
    top: 50%;
    right: 300px;
    text-align: center;
    margin-top: -8px;
}
@media (max-width: 600px) {
    small {
         font-size: 8px;
        line-height: 10px;
    }
    #help {
         width: 100px;
        font-size: 10px;
        line-height: 12px;
    }
}