/* @import url("http://cdn.jsdelivr.net/cesium/b18/Widgets/CesiumWidget/CesiumWidget.css"); */
@import url("https://cx20.github.io/gltf-test/libs/cesium/1.87/Widgets/widgets.css");
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}
