* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    overflow: hidden;
}

#note {
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    font-size: 10px;
    margin: 4px;
}