* {
  margin: 0;
  padding: 0;
  border: 0;
  /* overflow: hidden; */
}

#webgl-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
}

body {
  background: #fff;
  font: 30px sans-serif;
}