* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fdd;
  font: 30px sans-serif;
}

div#wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
}
div#canvas-frame {
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
}
