/* make the body fill the window */
html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}
/* make any canvas fill its container */
canvas {
  width: 100%;
  height: 100%;
}